body{
  background:skyblue;
}
.header-bar{
  background:lightblue;
  position:absolute;
  top:0;
  left:0;
  width:100%;
}
.menubuttons{
  position:relative;
  width:100%;
  margin:auto;
  display:inline-block;
}
.mobilemenu{
    position:relative;
    float:right;
    display:none;
    background:skyblue;
}
.title{
    margin:0;
    text-align:center;
}
ul{
  display:inline;
  list-style-type:none;
  padding:0%;
}
.menubuttons li{
  margin-left:5%;
  margin-right:5%;
}
.menubuttons button{
  height:41px;
  background:grey;
}
.menubuttons button:hover{
  background:white;
}
.menubar{
  position:absolute;
  left:0;
  top:37px;
  background:skyblue;
  width:100%;
  text-align:center;
}
li{
  display:inline;
}
#table_properties{
  position:absolute;
  top:60px;
  width:100%;
  margin:auto;
  text-align:center;
  border-spacing;
}
.table_class{
  position:relative;
  display:inline;
}
td img{
  padding-top:25px;
}
td h4{
  padding-bottom:25px;
}
@media screen and (max-width: 320px)
{
  .menubuttons
  {
    display:none;
  }
  .mobilemenu{
    display:inline;
  }
}